.navbar {
	height: 80px;
	width: 100vw;
	background: black;
	opacity: 90%;
	font-size: 1.1rem;
	position: fixed;
	z-index: 3;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.navbar-active {
	height: 80px;
	width: 100vw;
	background: rgb(2, 2, 2);
	opacity: 94%;
	font-size: 1.2rem;
	position: fixed;
	z-index: 3;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.navbar ul {
	list-style-type: none;
}

.nav-logo {
	text-decoration: none;
	/* width: 10px */
  /* color: rgb(212, 208, 208); */
}

.nav-logo img {
	width: 70px;
}

.nav-links {
	display: flex;
	grid-gap: 20px;
	list-style-type: none;
}

.nav-link {
  color: rgb(212, 208, 208);
	text-decoration: none;
}

.nav-link:hover {
	color: white;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

.nav-logo:hover {
	color: white;
}

@media only screen and (max-width: 900px) {
	.navbar {
		flex-wrap: wrap;
		height: auto;
	}

	.navbar-active {
		height: auto;
	}

	.navbar ul {
		padding: 0 10px 0 0;
		width: 100vw;
	}

	.nav-logo img {
		width: 50px;
	}

	.nav-links {
		display: none;
		/* transform: translate(9999px);
		opacity: 0; */
	}

	.nav-links-active {
		display: block!important;
		/* flex: wrap;
		transition: opacity 2s linear;
		transform: translate(0);
		opacity: 1; */
	}

	.nav-item {
		padding: 10px 0;
		list-style-type: none;
	}

	.nav-icon {
		display: flex;
		color: rgb(212, 208, 208);
	}

	.nav-logo {
		padding: 10px 0;
		list-style-type: none;
	}
}
