.projects-section {
  position: relative;
  top: -120px;
  background: linear-gradient(180deg, rgb(14, 15, 17), white);

}

.title {
  padding: 100px 0 0 0;
  font-size: 50px;
  color: white;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 60px 40px;
}

.project-cards img {
  width: 400px;
  height: 240px;
}

.modal-button-div  {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.modal-button-div button {
  padding: 0.75rem 3rem;
}

@media only screen and (max-width: 900px) {
  .project-cards img {
    width: 280px;
    height: auto;
  }
}
