.contact-section {
  padding-bottom: 60px;
}

.contact-section h1 {
  margin: 0px 0 100px 0;
}

.contact-row {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
  .contact-row {
    display: block;
  }
}
